/* league-spartan-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/league-spartan-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* league-spartan-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/league-spartan-v11-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* league-spartan-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/league-spartan-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'League Spartan',sans-serif;
  font-weight: 700;
  background-color: #EFFAFA;
}
.top{
    height: 150px;
    background-color:#5CA5A5;
    background-image: url("../images/bg-header-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 76px;
}

.container{
    width: 100%;
    max-width: 1210px;
    margin-left: auto;
    margin-right: auto;
    padding-right: auto;
    padding-left: auto;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.job-list__item {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    padding: 32px;
    align-items: center;
}
.job-list__image {
    border-radius: 50%;
    margin-right: 24px;
}
.job-list__info {
   display: flex;
   align-items: center;
    width: 100%;
    justify-content: space-between;
}
.job-list__status {
    display: flex;
    align-items: center;
}
.job-list__status__company {
    font-family: League Spartan;
font-size: 18px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0px;
text-align: left;
color: #5CA5A5;
margin-right: 15px;
}
.job-list__status__new {
    margin-right: 8px;
    font-family: League Spartan;
font-size: 14px;
font-weight: 700;
line-height: 14px;
letter-spacing: -0.10769230872392654px;
text-align: center;
color: #FFFFFF;
background-color: #5CA5A5;
padding: 8px 7px;
border-radius: 14px;
}
.job-list__status__fetaured {
    margin-right: 8px;
    font-family: League Spartan;
font-size: 14px;
font-weight: 700;
line-height: 14px;
letter-spacing: -0.10769230872392654px;
text-align: center;
color: #FFFFFF;
background-color: #2B3939;
padding: 8px 7px;
border-radius: 14px;    
}
.job-list__position {
    font-family: League Spartan;
font-size: 22px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color: #2B3939;
margin: 10px 0px;
}
.job-list__about {
    
}
.job-list__posted {
    font-family: League Spartan;
font-size: 18px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.13846154510974884px;
text-align: left;
color: #7C8F8F;
margin-right: 41px;
}
.job-list__contract {
    font-family: League Spartan;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.13846154510974884px;
    text-align: left;
    color: #7C8F8F;
    margin-right: 41px;
}
.job-list__location {
    font-family: League Spartan;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.13846154510974884px;
    text-align: left;
    color: #7C8F8F;
}
.job-list__filter {
}
.job-list__filter__item {
    background-color: rgba(92, 165, 165, 0.1);
    color: rgba(92, 165, 165, 1);
    font-family: League Spartan;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: -0.1230769231915474px;
text-align: left;
padding: 4px 10px;
border-radius: 5px;
}